.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.font{
    color:grey;
    font-family:helvetica neue;
    font-weight:lighter;
}
.frame{
    border: 1px solid white;
    width:auto;
}
.header__link {
    color: #292929;
    font-size: 12px;
}
.profilesidediv{
    padding:10px;
    background-color:#A7D0FF;
    margin:5px;
}
.scrolldiv{
    height:500px;
    overflow: scroll;
}

#app .react-grid-HeaderCell {
    background-color: #292929;
    color: #fff;
}

@keyframes rotater {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }

}

.square-loader {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    animation: rotater 1.5s infinite linear;

    position: relative;
    margin: 0 auto;
    top: 50px;
}
